body{
    background-color: #BEE0B9;
    margin: 0px;
  }
  
  
  .logo{
    position: absolute;
    left: 35%;
    top: 5%;
  }
  
  .box{
    position: absolute;
    left: 16%;
    top: 10%;
  }
  
  .box1{
    position: absolute;
    left: 5%;
    top: 55.5%;
  }
  
  .box2{
    position: absolute;
    left: 50%;
    top: 22%;
  }
  
  .box3{
    position: absolute;
    left: 5%;
    top: 77.5%;
  }
  
  .box4{
    position: absolute;
    left: 56%;
    top: 61.8%;
  }
  
  .box5{
    position: absolute;
    left: 5%;
    top: 3.7%;
  }
  
  
  
  .box6{
    position: absolute;
    top: 0px;
    width: 2100px;
    height: 2800px;
    backdrop-filter: blur(8px) brightness(50%);
    background-color: rgba(0, 0, 0, .1);
  }


.box7{
    position: absolute;
    left: 17.5%;
    top: 42%;
}

input[type="no"] {
    position: absolute;
    width: 400px;
    height: 100px;
    left: 600px;
    top: 1650px;
    color: rgb(113, 85, 76);
    border:0px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    border-radius: 40px;
    background-color: rgb(255, 211, 195);
    outline:none;
    }

    input[type="yes"] {
        position: absolute;
        width: 400px;
        height: 100px;
        left: 1200px;
        top: 1650px;
        color: rgb(255, 255, 255);
        border:0px;
        font-family: Heebo;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 100%;
        text-align: center;
        border-radius: 40px;
        background-color: #BEE6F6;
        outline:none;
        }