body{
    background-color: #BEE0B9;
    margin: 0px;
}


.logo{
    position: absolute;
    left: 35%;
    top: 5%;
}

.box{
    position: absolute;
    left: 16%;
    top: 10%;
}

.box1{
    position: absolute;
    left: 5%;
    top: 55.5%;
}

.box2{
    position: absolute;
    left: 50%;
    top: 22%;
}

.box3{
    position: absolute;
    left: 5%;
    top: 77.5%;
}

.box4{
    position: absolute;
    left: 56%;
    top: 61.8%;
}

.box5{
    position: absolute;
    left: 5%;
    top: 3.7%;
}



.box6{
    position: absolute;
    width: 2100px;
    height: 2800px;
    backdrop-filter: blur(8px) brightness(50%);
    background-color: rgba(0, 0, 0, .1);
}

input {
    outline: none;
    width: 2100px;
    height: 2800px;
    backdrop-filter: blur(8px) brightness(50%);
    background-color: rgba(0, 0, 0, .1);
}

.box7{
    position: absolute;
    left: 17.5%;
    top: 42%;
}

