body{
  background-color: #BEE0B9;
  margin: 0px;
}


.logo{
  position: absolute;
  left: 35%;
  top: 5%;
}

.box{
  position: absolute;
  left: 16%;
  top: 10%;
}

.box1{
  position: absolute;
  left: 5%;
  top: 55.5%;
}

.box2{
  position: absolute;
  left: 50%;
  top: 22%;
}

.box3{
  position: absolute;
  left: 5%;
  top: 77.5%;
}

.box4{
  position: absolute;
  left: 56%;
  top: 61.8%;
}

.box5{
  position: absolute;
  left: 5%;
  top: 3.7%;
}



.box6{
  position: absolute;
  top: 0px;
  width: 2100px;
  height: 2800px;
  backdrop-filter: blur(8px) brightness(50%);
  background-color: rgba(0, 0, 0, .1);
}

input {
  outline: none;
  width: 2100px;
  height: 2800px;
  backdrop-filter: blur(8px) brightness(50%);
  background-color: rgba(0, 0, 0, .1);
}

.box7{
  position: absolute;
  left: 17.5%;
  top: 42%;
}



.loader {
    font-size: 15px;
    margin: 50px auto;
    left:70px;
    top: 1550px;
    text-indent: -9999em;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    background: #bee6f6;
    background: -moz-linear-gradient(left, #bee6f6 10%, rgba(190,230,246, 0) 42%);
    background: -webkit-linear-gradient(left, #bee6f6 10%, rgba(190,230,246, 0) 42%);
    background: -o-linear-gradient(left, #bee6f6 10%, rgba(190,230,246, 0) 42%);
    background: -ms-linear-gradient(left, #bee6f6 10%, rgba(190,230,246, 0) 42%);
    background: linear-gradient(to right, #bee6f6 10%, rgba(190,230,246, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #bee6f6;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  

