body{
    background-color: #BEE0B9;
}


.logo{
    position: absolute;
    left: 35%;
    top: 5%;
}

.box{
    position: absolute;
    left: 20%;
    top: 10%;
}

.box1{
    position: absolute;
    left: 5%;
    top: 55%;
    -webkit-tap-highlight-color:transparent;
}

.box2{
    position: absolute;
    left: 50%;
    top: 22%;
    -webkit-tap-highlight-color:transparent;
}

.box3{
    position: absolute;
    left: 5%;
    top: 77.5%;
    -webkit-tap-highlight-color:transparent;
}

.box4{
    position: absolute;
    left: 56%;
    top: 61.8%;
    -webkit-tap-highlight-color:transparent;
}

.box5{
    position: absolute;
    left: 5%;
    top: 3.7%;
    -webkit-tap-highlight-color:transparent;
}