.body{
    width: 2048px;
    height: 2732px;
}

.text{
    position: absolute;
    left: 600px;
    top: 90px;
}

.return{
    position: absolute;
    left: 5.57%;
    right: 91.31%;
    top: 3.59%;
    bottom: 92.31%;
}

.gender .girl{
    position: absolute;
    width: 324px;
    height: 324px;
    left: 700px;
    top: 600px;
    -webkit-tap-highlight-color:transparent;
}



.gender .boy{
    position: absolute;
    width: 324px;
    height: 324px;
    left: 660px;
    top: 1600px;
    -webkit-tap-highlight-color:transparent;
}