body{
  width: 2048px;
  height: 2732px;
}  
  .login img{
    position: absolute;
    margin: 0px;
    left: 900px;
    top: 400px;  
  }

  .form {
    position: relative;
    width: 2048px;
    height: 2732px;
    background: #FFFFFF;
    }

  h2{
    position: absolute;
    margin: 0px;
    left: 800px;
    top: 850px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.465em;
    color: #A0CA77;
    font-weight:bold;
    }

  .loginGroup{
    display: block;
    padding-top: 1100px;
    padding-left: 550px;
    }

  .email img{
    position: absolute;
    left: 600px;
    top: 1165px;
  }

  .password img{
    position: absolute;
    left: 600px;
    top: 1400px;
  }
  .loginGroup1{
    display: block;
    padding-top: 80px;
    padding-left: 540px;
    }
  label {
    color: #fff;
    line-height: 0;
    /* 上下間距 */
    font-weight: 100;
    }

  input {
    outline: none;
    width: 750px;
    height: 165px;
    padding: 0px 150px;
    border: 3px solid rgba(118, 119, 83, 1);
    border-radius: 80px;
    font-size: 40px;
    }

  .btnGroup {
    padding-top: 100%;
    display: flex;
    padding-left: 800px;
    justify-content: space-between;
    /* margin:0 auto; */
    }

  a{
    position: absolute;
    left: 1350px;
    top: 1570px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px; 
    text-decoration:none;
    line-height: 21px;
    color: #767753;
    }

  input[type="button"]{
    position: absolute;
    width: 800px;
    height: 180px;
    left: 650px;
    top: 1700px;
    color: #fff;
    border: 0px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.465em;
    background-color: rgba(160, 202, 119, 1);
    border-radius: 100px;
    }
  
  .hr:after {
      content: "以下列方式註冊/登入";
      display: inline-block;
      position: relative;
      font-family: Roboto;
      font-weight: normal;
      font-style: normal;
      background: white;
      position: absolute;
      font-size: 42px;
      line-height: 21px;
      text-align: center;
      color: #767753;
      left: 850px;
      top: 2100px;
  }

  .google img{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 700px;
    top: 2250px;
  }
  .fb img{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 950px;
    top: 2250px;
  }
  .apple img{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 1200px;
    top: 2240px;
  }