@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.box{
    position: relative;
    top:-7px;
    left:-7.5px;
}

.return{
    position: absolute;
    left: 6.3%;
    right: 91.31%;
    top: 4.2%;
    bottom: 92.31%;
    -webkit-tap-highlight-color:transparent;
}

.box1{
    animation: fadeInAnimation ease 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    position: absolute;
    left: 350px;
    top: 400px;
}

.box2{
    position: absolute;
    left: 600px;
    top: 8px;
}

.box3{
    position: absolute;
    left: 330px;
    top: 200px;
}